# MATLAB Workspace Files
*.mat
*.asv

# Simulink Code Generation
slprj/

# Simulink autosave extension
*.autosave

# Simulink Cache File (build artifacts)
*.slxc

# Archiv Template given at start of project
Archiv/